@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&family=Poppins:wght@900&family=Roboto:wght@300;400;500;700;900&family=Source+Sans+Pro:wght@300;400;600;900&display=swap');

:root {
 --primary-text: #13183F;
 --secondary-text: #83869A;
 --primary-btn-hover: #666CA3;
 --hyper-link: #f74780;
 --hyper-link-hover: #FFA7C3;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Plus Jakarta Sans', sans-serif;
}

a {
 text-decoration: none;
 color: var(--hyper-link)
}

.mob_img {
 display: none;
}

.container {
 max-width: 1100px;
 height: 100%;
 margin: 0 auto;
 position: relative;
}

.header-nav {
 display: flex;
 justify-content: space-between;
 margin: 15px 0px 15px;
}

.logo {
 font-size: 34px;
 font-weight: 900;
}

.main-btn {
 background-color: var(--primary-text);
 color: #fff;
 padding: 1.1em 2.1em;
 border-radius: 50px;
 font-weight: 700;
 font-size: 1.125rem;
}

.main-btn:hover {
 background-color: var(--primary-btn-hover);
}

.hero-heading-flex h1 {
 font-weight: 800;
 font-size: 3.5rem;
 line-height: 65px;
}

.hero-heading-flex p {
 margin-left: 0;
 font-size: 1.125rem;
 font-weight: 500;
 color: var(--secondary-text);
 overflow-wrap: break-word;
 max-width: 440px;
 line-height: 28px;
}

.secondary-btn {
 margin-top: 20px;
 background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
 color: #fff;
 padding: 1.1em 2.1em;
 border-radius: 50px;
 font-weight: 700;
 font-size: 1.125rem;
}

.secondary-btn:hover {
 background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.hero-heading-flex {
 margin: 85px 10px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 gap: 20px;

}

.main-section {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background: url(./assets/image-hero-desktop@2x.png) no-repeat right top;
 background-size: contain;
}

.article-section {
 background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
 padding-top: 30px;
}

.article-wrap {
 max-width: 1100px;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 gap: 50px;
 padding-bottom: 100px;

}

.box1 {
 margin-top: 30px;
 width: 330px;
 height: 250px;
 background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
 color: #fff;
 padding: 40px 30px;
 border-radius: 12px;
 font-weight: 800;
 font-size: 1.33rem;


}

.box2 {
 margin-top: 30px;
 width: 330px;
 height: 250px;
 background: #fff;
 color: var(--primary-text);
 padding: 50px 30px;
 border-radius: 12px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 gap: 15px;
 -webkit-box-shadow: 7px 11px 20px -10px rgba(0, 0, 0, 0.33);
 box-shadow: 7px 11px 20px -10px rgba(0, 0, 0, 0.33);


}

.box2 img {
 margin-top: -45px;
 width: 50px;
}

.box2 p {
 font-size: 1.125rem;
 line-height: 28px;
 color: var(--secondary-text);

}

.box2 h3 {
 font-size: 1.5rem;
 font-weight: 800;
 color: var(--primary-text);
}

.box2 a {
 font-weight: 700;
 font-size: 1.125rem;
}

.box2 a:hover {
 color: var(--hyper-link-hover)
}

.main-footer {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 15px 0px 15px;
}

.footer-btn {
 background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
 color: #fff;
 padding: 1.1em 2.1em;
 border-radius: 50px;
 font-weight: 700;
 font-size: 1.125rem;
}

.footer-btn:hover {
 background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

.bg-black {
 background-color: var(--primary-text);
 padding: 30px;
}

.logo2 {
 font-size: 34px;
 font-weight: 900;
 color: #fff;
}

@media screen and (min-width : 820px) and (max-width : 1150px) {

 .container {
  margin: 0px 30px;
 }

 .article-wrap {
  margin: 0px 30px;
  max-width: 924px;
  gap: 30px;
  align-items: center;
  justify-content: space-between;

 }

 .main-section {

  background: url(./assets/image-hero-tablet.png) no-repeat right top;
  background-size: contain;
 }

 .main-btn {
  background-color: var(--primary-text);
  color: #fff;
  padding: 1.1em 2.1em;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1rem;
 }

 .hero-heading-flex h1 {
  font-size: 3rem;
 }

 .hero-heading-flex p {
  font-size: 1rem;
 }

 .secondary-btn {
  font-size: 1rem;
 }

 .box2 p {
  font-size: 1rem;
  line-height: 28px;
  color: var(--secondary-text);

 }

 .box2 h3 {
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--primary-text);
 }

 .box2 a {
  font-weight: 700;
  font-size: 1rem;
 }

 .box1 {
  font-size: 1.1rem;
 }

 .footer-btn {
  font-size: 1rem;
 }

}

@media screen and (max-width:820px) {
 .container {
  margin: 0px 30px;
 }

 .main-section {
  background: none;

 }

 .hero-heading-flex {
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 10px 50px;
 }

 .mob_img {
  display: inline-block;
 }


 .hero-heading-flex h1 {
  font-size: 2.5rem;
  line-height: 50px;
  text-align: center;

 }

 .hero-heading-flex p {
  font-size: 1rem;
  text-align: center;
  line-height: 25px;
 }

 .article-wrap {
  flex-direction: column;
  flex-basis: 100%;
  gap: 15px;
 }

 .box1 {
  margin-bottom: 30px;
  display: flex;
  width: 330px;
  height: 100px;
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  color: #fff;
  padding: 50px 40px;
  border-radius: 12px;
  font-weight: 800;
  font-size: 1rem;
 }

 .box1 h2 {
  align-self: center;
 }

 .box2 p {
  font-size: 1rem;
  line-height: 28px;
  color: var(--secondary-text);

 }

 .box2 h3 {
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--primary-text);
 }

 .box2 a {
  font-weight: 700;
  font-size: 1rem;
 }


}